<div class="page-wrapper-login">
  <div class="auth-card-login">
    <div class="header">
      <h1>Log In</h1>
      <p>Get started for free</p>
    </div>

    <form (ngSubmit)="onLogin()">
      <div class="input-group">
        <input type="email" name="email" [(ngModel)]="loginData.email" placeholder="Email" required>
      </div>

      <div class="input-group">
        <input type="password" name="password" [(ngModel)]="loginData.password" placeholder="Password" required>
      </div>

      <button type="submit" class="btn-login-pink">Log In</button>

      <div class="footer-links">
        <a routerLink="/register">Não tem conta? Registe-se aqui!</a>
        <a href="#" class="forgot-link">Recuperar palavra passe</a>
      </div>
    </form>
  </div>
</div>
