<div class="page-wrapper-login">
  <div class="auth-card-login">
    <div class="header">
      <h1>Recuperar Password</h1>
      <p>Introduza o seu email para receber o link de recuperação.</p>
    </div>

    <form (ngSubmit)="onSendEmail()">
      <input type="email" name="email" [(ngModel)]="email" placeholder="Email de registo" required>

      <button type="submit" class="btn-login-pink" [disabled]="isLoading">
        {{ isLoading ? 'A enviar...' : 'Enviar Link de Recuperação' }}
      </button>

      <div class="footer-links">
        <a routerLink="/login">Voltar ao Log In</a>
      </div>
    </form>
  </div>
</div>
