/* Reset global para remover as margens brancas à volta do ecrã */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000; /* Cor de fundo caso a imagem demore a carregar */
  overflow-x: hidden; /* Evita barras de scroll horizontais */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

* {
  box-sizing: border-box; /* Garante que padding não "empurra" o tamanho dos elementos */
}
