<div class="page-wrapper-login">
  <div class="auth-card-login">
    <h1>Nova Password</h1>
    <p>Escolha a sua nova password para <b>{{ model.email }}</b></p>

    <form (ngSubmit)="onResetPassword()">
      <input type="password" name="newPass" [(ngModel)]="model.newPassword" placeholder="Nova Password" required>
      <input type="password" name="confirmPass" [(ngModel)]="confirmarPassword" placeholder="Confirmar Password" required>

      <button type="submit" class="btn-login-pink" [disabled]="isLoading">
        {{ isLoading ? 'A guardar...' : 'Redefinir Password' }}
      </button>
    </form>
  </div>
</div>
